body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

.fixPosition {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 100px;
    background-color: #d93a0011;
}

.extension {
    height: 3000px;
    padding-top: 50px;
    background-color: white;
}