section {
    width: 100%;
    height: 700px;
    padding-left: 10px;
    background-position-y: center;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: transparent;
}

#a {
    background-image: url(../images/sunset_133463.png);
}

#b {
    background-image: url(../images/sunset_133465.png);
}

#c {
    background-image: url(../images/sunset_133467.png);
}